<h2>Python Topics and Concepts!!!</h2><br />
<!-- <div class="terminal">
    <pre >ng generate component xyz</pre>
    <pre >ng add @angular/material</pre>
    <pre >ng add @angular/pwa</pre>
    <pre >ng add _____</pre>
    <pre >ng test</pre>
    <pre >ng build</pre>
</div> -->
<div class="container">
    <app-python-topics></app-python-topics>
    <app-basic-syntax></app-basic-syntax>
    <app-control-structures></app-control-structures>
    <app-functions></app-functions>
    <app-data-structures></app-data-structures>
    <app-string-manipulation></app-string-manipulation>
    <app-file-handling></app-file-handling>
    <app-exception-handling></app-exception-handling>
    <app-oops></app-oops>
    <app-modules-and-packages></app-modules-and-packages>
    <app-regular-expressions></app-regular-expressions>
    <app-advanced-data-structures></app-advanced-data-structures>
    <app-advanced-topics></app-advanced-topics>
    <app-built-in-functions-and-libraries></app-built-in-functions-and-libraries>
    <app-working-with-apis></app-working-with-apis>
    <app-database-interaction></app-database-interaction>
    <app-unit-testing></app-unit-testing>
    <app-virtual-environments></app-virtual-environments>
    <app-debugging-and-profiling></app-debugging-and-profiling>
    <app-web-development></app-web-development>
    <app-gui-programming></app-gui-programming>
    <app-concurrency-and-threading></app-concurrency-and-threading>
    <app-networking></app-networking>
    <app-data-science-and-analysis></app-data-science-and-analysis>
    <app-machine-knowledge-base-and-ai></app-machine-knowledge-base-and-ai>
    <app-web-scraping></app-web-scraping> 
    
    <app-reserve></app-reserve>
</div>