<h5><strong>String Manipulation in Python</strong></h5>
<p>String manipulation in Python involves various operations to work with and manipulate strings. Here are
    some
    common string manipulation techniques:</p>
<ol>
    <li><strong>Concatenation</strong></li>
    <p>Combining strings together.</p>
    <pre><code>str1 = "Hello"
str2 = "World"
result = str1 + " " + str2</code></pre>

    <li><strong>String Formatting</strong></li>
    <p>Creating formatted strings using placeholders.</p>
    <pre><code [innerHTML]="formatted_strings"></code></pre>

    <li><strong>String Methods</strong></li>
    <p>Python provides a wide range of string methods for various operations.</p>
    <pre><code>my_string = "Hello, Python!"
length = len(my_string)
uppercase = my_string.upper()
lowercase = my_string.lower()</code></pre>

    <li><strong>String Slicing</strong></li>
    <p>Extracting portions of a string.</p>
    <pre><code>my_string = "Hello, Python!"
substring = my_string[7:13]  // Extracts "Python"</code></pre>

    <li><strong>String Splitting and Joining</strong></li>
    <pre><code>my_string = "apple,banana,orange"
fruits_list = my_string.split(",")

fruits = ["apple", "banana", "orange"]
joined_string = "-".join(fruits)</code></pre>

    <li><strong>Stripping Whitespaces</strong></li>
    <pre><code>my_string = "   Hello, Python!   "
stripped_string = my_string.strip()  // Removes leading and trailing whitespaces</code></pre>

    <li><strong>Replacing Substrings</strong></li>
    <pre><code>my_string = "Hello, World!"
new_string = my_string.replace("World", "Python")</code></pre>

    <li><strong>Checking Substrings</strong></li>
    <pre><code>my_string = "Hello, Python!"
contains_python = "Python" in my_string</code></pre>

    <li><strong>String Formatting (f-strings) (Python 3.6+)</strong></li>
    <pre><code [innerHTML]="string_formatting"></code></pre>

    <p>String manipulation is essential for working with textual data and is used extensively in
        applications
        ranging from data processing to web development.</p>
</ol>