.code-header{
    background-color: rgb(49, 48, 48); 
    height: 30px;

}
.code-html{
    margin-left: 5px;
    margin-right: 5px;
}
.copy-code-span{
    float: right;
}
.button-copy{
    background-color: rgb(49, 48, 48); 
    border: none; 
    color: white;
}