<h5><strong>Control Structures in Python</strong></h5>
<p>Control structures in Python allow you to control the flow of your program. Here are the main control
    structures:</p>
<ol>
    <li><strong>Conditional Statements (if, elif, else)</strong></li>
    Used to execute different code blocks based on conditions.
    <div class="code-background">
        <app-code-template [formInputText]="conditional_statement"></app-code-template>
        <div class="code">
            <pre><code [innerHTML]="conditional_statement"></code></pre>
        </div>
    </div>
    <li><strong>Loops (for, while)</strong></li>
    Used to execute a block of code repeatedly.
    <ul>
        <li><strong>For Loop</strong></li>
        <p>Iterates over a sequence (list, tuple, string, etc.).</p>
        <div class="code-background">
            <app-code-template [formInputText]="for_loop"></app-code-template>
            <div class="code">
                <pre><code [innerHTML]="for_loop"></code></pre>
            </div>
        </div>
        <li><strong>While Loop</strong></li>
        <p>Executes a block of code as long as a condition is True.</p>
        <div class="code-background">
            <app-code-template [formInputText]="while_loop"></app-code-template>
            <div class="code">
                <pre><code [innerHTML]="while_loop"></code></pre>
            </div>
        </div>
    </ul>
    <li><strong>Break and Continue Statements</strong></li>
    <p>Used to modify the flow of loops.</p>
    <ul>
        <li><strong>Break</strong></li>
        <p>Exits the loop prematurely.</p>
        <div class="code-background">
            <app-code-template [formInputText]="break"></app-code-template>
            <div class="code">
                <pre><code [innerHTML]="break"></code></pre>
            </div>
        </div>
        <li><strong>Continue</strong></li>
        <p>Skips the current iteration and moves to the next.</p>
        <div class="code-background">
            <app-code-template [formInputText]="continue"></app-code-template>
            <div class="code">
                <pre><code [innerHTML]="continue"></code></pre>
            </div>
        </div>
    </ul>
    <p>Here's an example demonstrating these control structures:</p>
    <div class="code-background">
        <app-code-template [formInputText]="control_statement"></app-code-template>
        <div class="code">
            <pre><code [innerHTML]="control_statement"></code></pre>
        </div>
    </div>
    <p>Control structures help you create more dynamic and responsive programs by allowing you to make
        decisions
        and
        repeat actions as needed.</p>

</ol>