
h2{
    text-align: center;
}
pre {
    margin: 0.5rem;
}
.code-background{
    position: relative;
    width: 80%;
    max-width: 700px;
    border-radius: 6px;
    overflow: hidden;
    background-color: black; 
    color: white;
}

.code{
    margin: 10px 20px 10px 20px; 
    padding-bottom: 5px;
}

.comment{
    color:grey;
  }
  .string{
    color:#00a67d;
  }
  .number{
    color:#df3079;
  }
  .built-in{
    color:#e9950c;
  }
  .litrals{
    color:#2e95d3;
  }